{# purpose of this template: inclusion template for display of related album items #}
{% set hasAdminPermission = hasPermission('RKFineArtPhotographerModule:AlbumItem:', '::', 'ACCESS_EDIT') %}
{% set hasEditPermission = hasPermission('RKFineArtPhotographerModule:AlbumItem:', '::', 'ACCESS_EDIT') %}
{% if noLink is not defined %}
    {% set noLink = false %}
{% endif %}
{% if items|default and items|length > 0 %}


{% for item in items %}
{% if item.image is not empty and item.imageMeta.isImage %}
<a href="{{ item.imageUrl }}" data-fancybox="gallery" data-caption="Beschreibung"  >  
    <img src="{{ item.image.getPathname()|imagine_filter('zkroot', relationThumbRuntimeOptions) }}" alt="{{ item|rkfineartphotographermodule_formattedTitle|e('html_attr') }}"  />
</a>
{% endif %}
{% endfor %}

<script type="text/javascript">
	$("[data-fancybox]").fancybox({
		// Options will go here
		  buttons : [
			'zoom',
			'close'
			]
	});
</script>

{% endif %}
